.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 35%;
}
.attribution a {
  color: #3e52a3;
}
body {
  margin: 0;
  background-color: #fafafa;
  text-align: center;
}
p {
  font-size: 15px;
  font-family: 'Poppins';
}
.heading {
  color: #4c4e61;
  margin: 0;
  padding-top: 50px;
  font-size: 20px;
  font-weight: 200;
}
.subheading {
  color: #4c4e61;
  margin: 0 auto;
  font-weight: 600;
  font-size: 22px;
}
.missionstatement {
  color: #a3a5ae;
  margin-left: 23%;
  margin-right: 23%;
  font-weight: 200;
  font-size: 13px;
}
.box1, .box2, .box3, .box4 {
  background-color: #ffffff;
  height: 200px;
  width: 300px;
  border-top: 4px;
  border-top-style: solid;
  border-radius: 2%;
}
.box1 {
  border-top-color: #45d3d3;
}
.box2 {
  border-top-color: #549ef2;
}
.box3 {
  border-top-color: #ea5353;
}
.box4 {
  border-top-color: #fcaf4a;
}
.box1, .box2, .box3, .box4 {
  position: absolute;
}
.box1 {
  left: 2%;
  top: 33%;
}
.box2 {
  left: 68%;
  top: 33%;
}
.box3 {
  top: 21%;
  left: 35%;
}
.box4 {
  top: 43%;
  left: 35%;
}
.boxheading {
  color: #4c4e61;
  font-weight: 600;
}
.boxtext {
  color: #a3a5ae;
  font-weight: 200;
  font-size: 12px;
}
