
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
}
.heading {
  text-align: center;
  color: #4c4e61;
}
.small-heading {
  padding-top: 5%;
  font-weight: 100;
}
.big-heading {
  font-weight: bold;
  font-size: 35px;
}
.mission-statement {
  color: #a3a5ae;
  padding: 1% 30% 0 30%;
}

/* Boxes */

.supervisor, .team-builder, .karma, .calculator {
  background-color: #ffffff;
  height: 230px;
  width: 325px;
  border-top: 4px;
  border-top-style: solid;
  border-radius: 2%;
  position: absolute;
  box-shadow: 2px 5px 5px rgba(76, 78, 97, 0.05);
}
.supervisor {
  border-top-color: #45d3d3;
}
.team-builder {
  border-top-color: #ea5353;
}
.karma {
  border-top-color: #fcaf4a;
}
.calculator {
  border-top-color: #549ef2;
}

.boxheading {
  color: #4c4e61;
  font-weight: bold;
  font-size: 20px;
  padding: 10% 10% 0 10%;
}
.boxtext {
  color: #a3a5ae;
  font-weight: 200;
  font-size: 15px;
  padding: 0 10% 0 10%;
}
img {
  float: right;
  padding: 4% 10% 0 0;
}
@media (max-width: 375px) {
  .mission-statement {
    padding: 0;
  }
  .supervisor, .team-builder, .karma, .calculator {
    position: static;
    margin-bottom: 7%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 1440px) {
  .supervisor {
    top: 44%;
    left: 14%;
  }
  .team-builder {
    top: 32%;
    left: 545px;
  }
  .karma {
    top: 59%;
    left: 545px;
  }
  .calculator {
    top: 44%;
    left: 62%;
  }
}
